<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Frederick.com</title>
		<link href="style.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/x-icon" href="assets/fredicon.png">
	</head>
	<body>
		<a id="anchor"></a> <!--Anchor to send user back to header when a button is clicked-->
		<div class="section" id="header""> <!--Titlebar-->
			<div class="tritem" style="text-align:left;">Frederick.com</div>
			<div class="tritem" style="text-align:center;"><img src="assets/fred.png" class="circimg"></div>
			<div class="tritem" style="text-align:right; font-size: 25px;"><i>"I will ruin you" - Mr. Osmond</i></div>
		</div>
		<div class="section" id="header2"> <!--Navigation (contains buttons)-->
			<a class="button" href="index.html">Home</a>
		</div>
		<div class="section" id="body">
			<b>The Great History of Frederick</b>
			<div class="duritem" style="text-align:center; font-size: 20px;"> <!--Main content of page-->
				<h2>Ancient Frederick History</h2><p>200 000 000 years ago in the Fredlands...<p>
				Frederick was born as Frederick II, the son of Frederick I (Emperor of the Frederick Empire in the Fredlands, a group of sky islands)
				Frederick I was extremely dumb and a horrendous ruler, and under his rule half of the Fredlands mysteriously disappeared due to an "accident".
				Frederick II was very popular, so Frederick I was assassinated as soon as II came of age and his body was ground up into powder by rebels. 
				Frederick II became emperor of the Frederick Empire. He instantly began projects to build back the previously deleted half of the Fredlands.
				He also initiated projects to increase the influence of the Frederick Empire over the only other kingdom in the Fredlands,
				which was a tiny disappointing duchy ruled by Frederick I's even more unpopular aunt, Eric.
				After a war in which the 3 soldiers of the duchy were captured, all of the Fredlands fell under Frederick's rule.
				After 600 000 years under Frederick II, the Fredlands had formed into a prosperous society where everyone had what they needed and wanted (except for the Johns which were hated by most people).
				In secret, a nationalistic group known as the Armed Frederick Liberation Front had formed, and it had been planning its attack on the kingdom for about 20000 years at this point.
				While the guards of Frederick's palace were out drinking, the AFLF infiltrated Frederick's sleeping quarters and threw him from the balcony, ending his over 600 000 year reign.
				The AFLF took over control of the empire, and issued propaganda to make the population hate Johns even more.
				They then started a nation-wide war against the Johns, and after 10 000 years everyone was dead so the war was de facto over.
				<p><h2>Modern Frederick History</h2>
				Frederick II, in his infinite power, was re incarnated first into a sharpener, which was quickly adopted as a local god in the area. 
				This body was not suitable, so the prophet Ken, who had a severe lack of erasers, began to steal erasers around the classroom in which he studied.
				Upon one eraser was drawn a face so reminiscent of Frederick II's characteristic drool, the dead emperor made an executive decision to re-reincarnate into this eraser.
				His decision was further proven to be wise when the prophet Ken wrote his name on the side of his new body.
				With his new body, Frederick thought it wise to continue his great advice to his subjects, so the prophet Ken wrote on the other side of his body "No", with the face simulating "Yes."
				Through this new method of communication, Frederick was able to pass on great advice to the Year 6 class the prophet Ken was in.
				On the Fridays in this class, the teacher had implemented a rank/reward system, where higher ranked people would have immense power over the lowly peasants who weren't allowed to go to the toilet.
				At the beninging of Term 4, an official system of power was created with Frederick, and the prophet Ken's prophet Ryan at the head. This society
				gained great influence, recruiting almost 1/2 of the class, with meetings every Wednesday where every member would recite their love for Frederick.
				This power was held for a great period of time (almost 2 months), through the discipline of the Bonk (a ball of tape stuck on a paddle pop stick.)
				Unfortunately, the decline started when the prophet Ken got too confident and improved te Bonk to increase punishment effectiveness.
				This resulted in the person with utmost power in the class, even above the reaches of the society Frederick led, banning this Bonk.
				This led to the gradual decline of the society with no punishment in place anymore for not following the society's rules. Eventually, it was disbanded.
				Frederick was then taken to his permanent residence, shared with the prophet Ken, where he remains to this day.
				Today, the spirit of Frederick is often reconstituted, such as through the common appraisal of him by the prophet Ken and his peers, and the simple inscription of his face.
				<p>Today, the world gets more and more uncertain, so it is imperative we continue our service to the Emperor Frederick to ensure we stay healthy and prosperous.
			</div>
			<div class= "tritem" style="text-align:center; font-size: 40px"> <!--Supporting images-->
				<img src="assets/fredemperor.png" class="image">
				Frederick's Throne
				<img src="assets/bonk.png" class="image">
				Artistic impression of The Bonk
			</div>
		</div>
		<div class="section" style="height: 80px; background-color: #CCCCCC;"></div><!--Empty space incase you need to click on content at bottom (covered by footer otherwise)-->
		<div class="invisfooter"><!--Trigger for footer moving up (Locked to bottom of page view)-->
			<div class="footer"><!--Footer-->
				<div class="tritem"><a class="button" href="#anchor">Back to top</a></div>
				<div class="tritem" style="color: white;">All content has been officially verified by me</div>
			</div>
		</div>
	</body>
</html>